@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dad Jokes Application</h1>
    <p>The foremost authority on good humour that you will find on any server</p>
</div>
