@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p>This hilarious jokes app is built using C# with ASP.NET Core. Utilising the entity framework create a database of jokes that require a login to create, edit or delete entries.</p>
